.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(251, 251, 255);
    position: sticky;
    top: 50px;
}
.sidebarwrapper{
    padding: 20px;
    color:#555
}
.sidebarmenu{
    margin-bottom: 10px;
}
.sidebartitle{
    font-size: 13px;

}
.sidebarlist{
    list-style: none;
   padding: 5px; 
   text-decoration: none;
}
.sidebarlistitem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
   
}
.sidebarlistitem:active, .sidebarlistitem:hover{
    background-color: rgb(196, 196, 197);
}

.sidebarIcon{
    margin-left: 5px;
    font-size: 20px !important;
    padding-right: 5px;
}